*.credentials.json
*.env
*.lock
*.log
*.pyc
*.swp
.coverage
/.idea/*
.vscode/*
/__venv__/*
venv/*
/src/logs
/tmp/*
config.yml
coverage.xml
docs/_build
docs/_build_html
tmp.*
.DS_Store
_build_dev/*
compose/staging/data/*
data/*
surveys/*

